#student-pic{
    max-width : 200px;
    position : relative;
    top: 40%; left: 40%;

}

#student-info{
    position : absolute;
    left : 60% ;
    top : 20%;
}

#student-marks{
    max-width : 200px;
    position : absolute;
    top : 50%;
    left : 25%;
    

}

#student-gmark{
    position : absolute;
    top : 75%;
    left : 40%;
}


#student-classroom{
    position : absolute;
    top : 10%;
    left : 80%;
}
